body {
  font-family: 'Fira Code', monospace;
}

[data-theme="day"] {
  .main-area {
    background-image: url(./assets/Sonoma-Hills/Sonoma\ Hills\ -\ 5K.jpg);
  }

  .clock-container {
    background-color: hsla(0, 0%, 100%, 0.8);
  }

  .clock-hour,
  .clock-minute,
  .clock-seconds,
  .hour-text,
  .minute-text,
  .seconds-text { 
    background-color: hsla(0, 0%, 100%, 0.8);
    color: hsla(0, 0%, 20%, 0.8);
  }
  
  .ampm-indicator {
    background-color: hsla(0, 0%, 100%, 0.9);
    color: hsl(0, 0%, 20%);
  }

  .format-toggler {
    background-color: hsla(0, 0%, 100%, 0.9);
    color: hsl(0, 0%, 20%);

    &:hover {
      background-color: hsla(0, 0%, 100%, 1);
    }
  }

  .credit {
    color: hsla(0, 0%, 20%, 1);

    a:hover {
        color: hsla(0, 0%, 20%, 0.8);
    }
  }
}

[data-theme="night"] {
  .main-area {
    background-image: url(./assets/Sonoma-Hills/Sonoma\ Hills\ Night\ -\ 5K.jpg);
  }

  .clock-container {
    background-color: hsla(0, 0%, 20%, 0.5);
  }

  .clock-hour,
  .clock-minute,
  .clock-seconds,
  .hour-text,
  .minute-text,
  .seconds-text,
  .ampm-indicator {
    background-color: hsla(0, 0%, 20%, 0.6);
    color: hsl(0, 0%, 100%);
  }

  .format-toggler {
    background-color: hsla(0, 0%, 20%, 0.6);
    color: hsl(0, 0%, 100%);

    &:hover {
      background-color: hsla(0, 0%, 20%, 0.8);
    }
  }

  .credit {
    color: hsla(0, 0%, 100%, 1);

    a:hover {
        color: hsla(0, 0%, 100%, 0.8);
    }
  }
}

.main-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
}

.clock-container {
  position: relative;
  width: 52rem;
  height: 24rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.clock-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.clock-hour,
.clock-minute,
.clock-seconds,
.hour-text,
.minute-text,
.seconds-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 1rem);
  border-radius: 3rem;
  box-shadow: 0rem 0.2rem 0.5rem hsla(0, 0%, 0%, 0.2);
}

.clock-hour,
.clock-minute,
.clock-seconds {
  height: calc(75% - 0.5rem);
  padding: 1rem;
  font-size: 10rem;
}

.hour-text,
.minute-text,
.seconds-text {
  height: calc(25% - 0.5rem);
  font-size: 2rem;
  text-align: center;
  align-content: center;
  border-radius: 2rem;
}

.button-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 52rem;
}

.ampm-indicator {
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.2rem 0.5rem hsla(0, 0%, 0%, 0.2);
}

.format-toggler {
  width: 20rem;
  height: 5rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.credit {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  font-size: 1.6rem;
}

/* Media Queries */
@media screen and (max-width: 560px) {
  .clock-container {
      max-width: 90vw;
      height: 38vh;
  }

  .clock-flex {
    flex-direction: column;
  }

  .clock-hour,
  .clock-minute,
  .clock-seconds {
      font-size: 6rem;
      width: calc(50% - 0.5rem);
      height: calc(33.33% - 1rem);
  }

  .hour-text,
  .minute-text,
  .seconds-text {
      width: calc(50% - 0.5rem);
      height: calc(33.33% - 1rem);
  }

  .button-indicator {
      max-width: 90vw;
  }

  .ampm-indicator {
    font-size: 2rem;
  }
}
