* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: hsl(0, 0%, 100%);
}